/* Applique une police à tous les éléments */
* {
    font-family: sans-serif;
}

/* Centre le titre  */
h1 {
    text-align: center;
}

/* Centre la div container qui contient le tableau entier */
.table {
    margin: auto;
    width: 20rem;
}

/* Container du tableau */
.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

/* header du tableau */
.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

/* Donne un espace défini à toutes les lignes du tableau */
.content-table th,
.content-table td {
    padding: 12px 15px;
}

/* Créer une bordure en bas de chaque ligne du tableau */
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
/* Prend toutes les lignes pair du tableau et change leur couleur de fond */
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
/* Ajoute une bordure au dernier enfant du tableau ( dernière ligne du tableau ) */
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

/* Prend toutes les lignes activer ( les lignes pairs sur cette exemple ), change la couleur et le gras du texte */
.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
